*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  .App {
    text-align: center;
    font-family: 'Reem Kufi', sans-serif !important;
    background-color: #1b1464;
    min-height: 100vh; 
  }
  .AppHead {
    padding-top: 70px;
  }